* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  border: 20px solid red;
  padding: 10px;
  color: red;
  z-index: 1;
}

.header h1 {
  letter-spacing: 0.1em;
  font-family: Roboto;
  font-weight: bold;
  margin-left: 0;
}

.header img {
  height: 50px;
  margin-right: 0;
}

.main {
  position: absolute;
  margin-top: 125px;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  height: calc(100vh - 135px);
  border-left: 3px solid red;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  z-index: -1;
}

nav {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  text-decoration: none;
  border-top: 3px solid red;
  align-content: center;
  text-align: center;
  font-size: 1.5em;
  font-family: Roboto;
}

/* nav tabs (divs) */
nav > div {
  cursor: pointer;
}

nav .nav-pos a {
  color: red;
  text-decoration: none;
}

nav .nav-pos {
  text-decoration: none;
  border-right: 3px solid red;
  width: 50%;
  padding: 20px;
}

nav .nav-widget a {
  color: white;
  text-decoration: none;
}

nav .nav-widget {
  position: relative;
  text-decoration: none;
  width: 50%;
  padding: 20px;
}

.tabs {
  color: white;
  background-color: red;
}

.tabs.active {
  color: red;
  background-color: white;
}

.tab-content {
  position: relative;
  padding: 5%;
  width: 100%;
  height: calc(100% - 70px);
  align-content: center;
  text-align: left;
}

.launch-pos {

}
.launch-pos button{
display: flex;
fle
font-family: Ubuntu;
font-size: 5em;
font-style: italic;
font-weight: bold;

}


.pos {

}

.widget {
  
}

/* Global Helper Classes */
.show {
  display: block;
}

.hide {
  display: none;
}
