<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Paybutton Generator Test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
      body {
        padding: auto;
        font-family: Arial, sans-serif;
      }

      input,
      button,
      select {
        padding: 8px;
        border-radius: 6px !important;
        border: 1px solid #ccc;
        color: #767676;
      }

      button {
        background-color: #2186fa;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 35px;
        float: right;
      }

      button:hover {
        background-color: #767676;
      }

      #playground {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
      }

      .loading-overlay {
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        display: none;
      }

      .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #2186fa;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 0.6s linear infinite;
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="./index.html#buttons-section">Buttons</a>
      <a href="./index.html#widgets-section">Widgets</a>
      <a href="./paybutton-generator.html#playground">Generator</a>
    </div>
    <script src="https://unpkg.com/vue@3"></script>

    <script src="./paybutton.js"></script>

    <div id="playground">
      <form @submit.prevent="updateProps" class="card">
        <div>
          <div class="form-input">
            <label for="paybutton-type">Type:</label>
            <select id="paybutton-type" v-model="paybuttonType" class="selector">
              <option value="paybutton-widget">Widget</option>
              <option value="paybutton">Button</option>
            </select>
          </div>
          <div class="form-input">
            <label for="to">To:</label>
            <input id="to" v-model="paybuttonProps.to" type="text">
          </div>
          <div style="display: flex; justify-content: space-between; gap:10px">
            <div class="form-input">
              <label for="amount">Amount:</label>
              <input id="amount" v-model.number="paybuttonProps.amount" type="number" step="0.01">
            </div>
            <div class="form-input">
              <label for="currency">Currency:</label>
              <input id="currency" v-model="paybuttonProps.currency" type="text">
            </div>
          </div>
          <div style="display: flex; justify-content: space-between; gap:10px">
            <div class="form-input">
              <label for="goalAmount">Goal Amount:</label>
              <input id="goalAmount" v-model.number="paybuttonProps.goalAmount" type="number">
            </div>
            <div class="form-input">
              <label for="contributionOffset">Contribution Offset:</label>
              <input id="contributionOffset" v-model.number="paybuttonProps.contributionOffset" type="number">
            </div>
          </div>
          <div style="display: flex; justify-content: space-between; gap:10px">
            <div class="form-input" style="flex-basis: 80%;">
              <label for="text">Text:</label>
              <input id="text" v-model="paybuttonProps.text" type="text">
            </div>
            <div class="form-input">
              <label for="successText">Success Text:</label>
              <input id="successText" v-model="paybuttonProps.successText" type="text">
            </div>
          </div>
          <div class="form-input">
            <label for="hoverText">Hover Text:</label>
            <input id="hoverText" v-model="paybuttonProps.hoverText" type="text">
          </div>
          <div class="form-input">
            <label for="theme">Theme:</label>
            <input id="theme" v-model="paybuttonProps.theme" type="text">
          </div>
          <div class="form-input">
            <label for="animation">Animation:</label>
            <input id="animation" v-model="paybuttonProps.animation" type="text">
          </div>
          <div class="form-input">
            <label for="theme">Op Return:</label>
            <input id="theme" v-model="paybuttonProps.opReturn" type="text">
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; gap: 10px;">
          <div>
            <div class="form-input toggle">
              <input type="checkbox" id="editable" v-model="paybuttonProps.editable" true-value="true"
                false-value="false">
              <label for="editable">Editable</label>
            </div>
            <div class="form-input toggle">
              <input type="checkbox" id="disable-payment-id" v-model="paybuttonProps.disablePaymentId" true-value="true"
                false-value="false">
              <label for="disable-payment-id">Disable PaymentId</label>
            </div>
            <div class="form-input toggle">
              <input type="checkbox" id="random-satoshis" v-model="paybuttonProps.randomSatoshis" true-value="true"
                false-value="false">
              <label for="random-satoshis">Random Satoshis</label>
            </div>
            <div class="form-input toggle">
              <input type="checkbox" id="enable-altpayment" v-model="paybuttonProps.enableAltpayment" true-value="true"
                false-value="false">
              <label for="enable-altpayment">Enable Altpayment</label>
            </div>
          </div>
          <div>
            <div class="form-input toggle">
              <input type="checkbox" id="hide-toasts" v-model="paybuttonProps.hideToasts" true-value="true"
                false-value="false">
              <label for="hide-toasts">Hide Toasts</label>
            </div>
            <div class="form-input toggle">
              <input type="checkbox" id="disable-enforce-focus" v-model="paybuttonProps.disableEnforceFocus"
                true-value="true" false-value="false">
              <label for="disable-enforce-focus">Disable enforce focus</label>
            </div>
            <div class="form-input toggle">
              <input type="checkbox" id="disabled" v-model="paybuttonProps.disabled" true-value="true"
                false-value="false">
              <label for="disabled">Disabled</label>
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: right; position: relative;">
          <button type="submit">Generate</button>
        </div>
      </form>
      <div class="card" style="display: flex; flex-basis: 70%; justify-content: center; align-items: center;">
        <div class="loading-overlay" id="loading-overlay">
          <div class="spinner"></div>
        </div>
        <div id="paybutton-generator-container">
          <div id="paybutton-generator" 
            :class="paybuttonType"
            :to="paybuttonProps.to"
            :amount="paybuttonProps.amount"
            :goal-amount="paybuttonProps.goalAmount"
            :currency="paybuttonProps.currency"
            :text="paybuttonProps.text"
            :hover-text="paybuttonProps.hoverText"
            :success-text="paybuttonProps.successText"
            :theme="paybuttonProps.theme"
            :animation="paybuttonProps.animation"
            :editable="paybuttonProps.editable"
            :disable-payment-id="paybuttonProps.disablePaymentId"
            :random-satoshis="paybuttonProps.randomSatoshis"
            :hide-toasts="paybuttonProps.hideToasts"
            :disable-enforce-focus="paybuttonProps.disableEnforceFocus"
            :disabled="paybuttonProps.disabled"
            :on-success="mySuccessFuction"
            :on-transaction="myTransactionFuction"
            :enable-altpayment="paybuttonProps.enableAltpayment"
            :op-return="paybuttonProps.opReturn">
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, reactive, ref } = Vue;
      const mySuccessFuction = (tx) => (console.log("Success", { tx }))
      const myTransactionFuction = (tx) => (console.log("Transaction", { tx }))

      createApp({
        setup() {
          const paybuttonProps = reactive({
            to: "ecash:qrmm7edwuj4jf7tnvygjyztyy0a0qxvl7quss2vxek",
            amount: undefined,
            goalAmount: undefined,
            currency: undefined,
            text: "Donate",
            hoverText: undefined,
            successText: "Payment Successful!",
            theme: `{"palette":{"primary": "#9d00ff","secondary": "#FFF", "tertiary": "#000"}}`,
            animation: "slide",
            editable: false,
            disabled: false,
            disablePaymentId: false,
            randomSatoshis: false,
            hideToasts: false,
            disableEnforceFocus: false,
            enableAltpayment: false,
            contributionOffset: undefined,
            opReturn:undefined,
            onSuccess: mySuccessFuction,
            onTransaction: myTransactionFuction
          });
          const paybuttonType = ref("paybutton");
          const updateProps = () => {
            const loadingOverlay = document.getElementById("loading-overlay");
            const paybuttonGenerator = document.getElementById("paybutton-generator");


            loadingOverlay.style.display = "flex";
            paybuttonGenerator.hidden = true
            setTimeout(() => {
              paybuttonGenerator.hidden = false
              switch (paybuttonType.value) {
                case "paybutton-widget":
                  PayButton.renderWidget(paybuttonGenerator, { ...paybuttonProps });
                  break;
                case "paybutton":
                  PayButton.render(paybuttonGenerator, { ...paybuttonProps });
                  break;
              }
              
              loadingOverlay.style.display = "none";

            }, 600);
          };

          return { paybuttonProps, updateProps, paybuttonType };
        }
      }).mount('#playground');
    </script>
  </body>
</html>
