/* begin default button set */
.pay-button, .pay-button:hover {
all: initial;
font-family: Helvetica Neu, Arial, sans-serif !important;
font-size: 17px !important;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08) !important;
font-weight: 500 !important;
border-radius: 4px !important;
cursor: pointer !important;
border: 2px solid #F57A00 !important;
background: transparent !important;
position: relative !important;
padding: 0px !important;
min-width: 200px !important;
max-width: 280px !important;
text-align: center !important;
z-index: 1 !important;
margin: auto; !important;
display: block; !important;
}

.pay-button > span {
display: inline-block;
padding: 12px 8px;
position: relative;
background: linear-gradient(45deg, #FFFFFF 50%, #F57A00 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
z-index: -1;
}

.pay-button:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: linear-gradient(45deg, #F59332 50%, transparent 50%);
font-size: 18px;
z-index: -5;
}

.pay-button > span,.pay-button:after {
background-size: 300%;
background-position: 100%;
transition: .8s, font-weight .5s;
}

.pay-button:hover > span,.pay-button:hover:after {
font-weight: 500;
background-position: 0;
}

.pay-button:active{
transform: translateY(1px);
opacity: 0.95;  
box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.20);
}

.rev {

}
.rev:hover {

}

.rev > span {
background: linear-gradient(45deg, #F57A00 50%, #FFFFFF 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.rev:after {
background: linear-gradient(45deg, transparent 50%, #F59332 50%);
}

.rev > span, .rev:after {
background-size: 300%;
background-position: 100%;
}

.bare, .bare:hover {
border: 0px !important;
background: transparent !important;
/*For IE*/
}

.bare > span {
background: linear-gradient(45deg, #FFF 50%, #F57A00 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.bare:after {
background: linear-gradient(45deg, #F59332 50%, transparent 50%);
}

.bare > span, .bare:after {
background-size: 300%;
background-position: 100%;
}
/* end default button set */


/* begin wa button set */
.wa, .wa:hover {
border: 2px solid #34495e !important;
background: transparent !important;
}
.wa > span {
background: linear-gradient(45deg, #fff 50%, #34495e 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.wa:after {
background: linear-gradient(45deg, #34495e 50%, transparent 50%);
}
.wa > span, .wa:after {
background-size: 300%;
background-position: 100%;
}

.warev, .warev:hover {
border: 2px solid #34495e !important;
background: transparent !important;
}
.warev > span {
background: linear-gradient(45deg, #34495e 50%, #FFF 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.warev:after {
background: linear-gradient(45deg, transparent 50%, #34495e 50%);
}
.warev > span, .warev:after {
background-size: 300%;
background-position: 100%;
}

.wabare, .wabare:hover {
border: 0px !important;
background: transparent !important;
/*For IE*/
}
.wabare > span {
background: linear-gradient(45deg, #FFF 50%, #34495e 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.wabare:after {
background: linear-gradient(45deg, #34495e 50%, transparent 50%);
}
.wabare > span, .wabare:after {
background-size: 300%;
background-position: 100%;
}
/* end wa button set */


/* begin spice button set */
.spice, .spice:hover {
font-size: 24px !important;
font-weight: normal !important;
border-radius: 0px !important;
border: 3px solid #ED2B55 !important;
background: transparent !important;
padding: 0px !important;
width: 280px !important;
/*For IE*/
}

.spice > span {
padding: 18px 8px;
background: linear-gradient(45deg, #FFFFFF 50%, #ED2B55 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.spice:after {
background: linear-gradient(45deg, #ED2B55 50%, transparent 50%);
}

.spice > span,.spice:after {
background-size: 300%;
background-position: 100%;
transition: .8s, font-weight .2s;
}

.spice:hover > span,.spice:hover:after {
font-weight: normal;
}
/* begin spice button set */


/* begin spicerev button set */
.spicerev, .spicerev:hover {
font-size: 24px !important;
font-weight: normal !important;
border-radius: 0px !important;
border: 3px solid #ED2B55 !important;
background: transparent !important;
padding: 0px !important;
width: 280px !important;
/*For IE*/
}

.spicerev > span {
padding: 18px 8px;
background: linear-gradient(45deg, #ED2B55 50%, #FFFFFF 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.spicerev:after {
background: linear-gradient(45deg, transparent 50%, #ED2B55 50%);
}

.spicerev > span,.spicerev:after {
background-size: 300%;
background-position: 100%;
transition: .8s, font-weight .2s;
}

.spicerev:hover > span,.spicerev:hover:after {
font-weight: normal;
}
/* begin spicerev button set */


/* begin modal button */
.modal, .modal:hover {
width: 254px !important;
font-size: 18px !important;
border: 2px solid #F57A00 !important;
margin: 10px 0px 0px 0px !important;
/*For IE*/
}
.modal > span {
background: linear-gradient(45deg, #FFFFFF 50%, #F57A00 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.modal:after {
background: linear-gradient(45deg, #F7941D 50%, transparent 50%);
}
.modal > span, .modal:after {
background-size: 300%;
background-position: 100%;
}
/* end modal button */
