body
{
font-family: Helvetica,Arial,sans-serif;
font-size: 16px;

margin: 0;
padding: 0;
}


.pay-button {
border-radius: 4px;
cursor: pointer;
border: 2px solid orangeRed;
background: transparent;
position: relative;
padding: 0px;
min-width: 160px;
margin: 5px;
color: #fff;
z-index: 1;
/*For IE*/

}

.pay-button > span {
display: inline-block;
padding: 8px 12px;
position: relative;
background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
z-index: -1;
}

.pay-button:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
z-index: -5;
}

.pay-button > span,.pay-button:after {
background-size: 300%;
background-position: 100%;
transition: .9s, font-size .2s;
}

.pay-button:hover > span,.pay-button:hover:after {
background-position: 0;
/*font-size: 1.1em;*/
color: orangeRed;
/*For IE*/
}


.pbmodal-button {
border-radius: 4px;
cursor: pointer;
border: 2px solid orangeRed;
background: transparent;
position: relative;
padding: 0px;
width: 260px;
margin: 10px 0px 0px 0px;
color: #fff;
font-size: 1em;
/*For IE*/
}
.pbmodal-button > span {
display: inline-block;
padding: 8px 12px;
background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.pbmodal-button:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
z-index: -1;
}
.pbmodal-button > span,.pbmodal-button:after {
background-size: 300%;
background-position: 100%;
transition: 1.5s, font-size .2s;
}
.pbmodal-button:hover > span,.pbmodal-button:hover:after {
background-position: 0;
/*font-size: 1.1em;*/
color: orangeRed;
/*For IE*/
}


 .amountdiv {
word-wrap: break-word;
font-size: 16px;
margin: 6px 8px 0px 8px;
}

 .addressdiv {
word-wrap: break-word;
font-size: 10px;
margin: 10px 8px 0px 8px;
}


.qrparent {
	
  position: relative;
  top: 0;
  left: 0;
}
.qrcode {
  position: relative;
  top: 0;
  left: 0;
	border: 2px solid #000000;
}
.qricon {
    position: absolute;
		top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
		}
.qrctc {
    position: absolute;
    right: 0;
    bottom: 0;
		color: #000000;
		font-size: 14px;
    display: block;
    margin: 6px;
		padding: 3px;
		text-align:right;
		opacity: 0.95;
		background: #FFFFFF;
		}




/* Modal Base CSS */
.paybutton-overlay {
position: fixed;
z-index: 9998;
top: 0;
left: 0;

opacity: 0;

width: 100%;
height: 100%;

-webkit-transition: 1ms opacity ease;
 -moz-transition: 1ms opacity ease;
-ms-transition: 1ms opacity ease;
 -o-transition: 1ms opacity ease;
transition: 1ms opacity ease;

background: rgba(0,0,0,.6);
}

.paybutton-modal {
position: absolute;
z-index: 9999;
top: 50%;
left: 50%;
text-align: center;
opacity: 0;
overflow: auto;
width: 100%;
padding: 20px 15px 20px 15px;
/*padding: 24px 20px;*/

-webkit-transition: 1ms opacity ease;
 -moz-transition: 1ms opacity ease;
-ms-transition: 1ms opacity ease;
 -o-transition: 1ms opacity ease;
transition: 1ms opacity ease;

-webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);

border-radius: 6px;
background: #fff;
}

.paybutton-content {
/*border: 1px solid #c3c3c3;*/
	vertical-align:middle;
	text-align:center;
padding: 0px 0px 0px 0px;
}

.paybutton-modal.paybutton-open.paybutton-anchored {
top: 20px;

-webkit-transform: translate(-50%, 0);
 -moz-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
 -o-transform: translate(-50%, 0);
transform: translate(-50%, 0);
}

.paybutton-modal.paybutton-open {
opacity: 1;
}

.paybutton-overlay.paybutton-open {
opacity: 1;

}

/* Default Animation */

.paybutton-overlay.fade-and-drop {
display: block;

opacity: 0;
}

.paybutton-modal.fade-and-drop {
top: -300%;

opacity: 1;

display: block;
}

.paybutton-modal.fade-and-drop.paybutton-open {
top: 50%;

-webkit-transition: 300ms top 300ms ease;
 -moz-transition: 300ms top 300ms ease;
-ms-transition: 300ms top 300ms ease;
 -o-transition: 300ms top 300ms ease;
transition: 300ms top 300ms ease;
}

.paybutton-modal.fade-and-drop.paybutton-open.paybutton-anchored {

-webkit-transition: 300ms top 300ms ease;
 -moz-transition: 300ms top 300ms ease;
-ms-transition: 300ms top 300ms ease;
 -o-transition: 300ms top 300ms ease;
transition: 300ms top 300ms ease;
}

.paybutton-overlay.fade-and-drop.paybutton-open {
top: 0;

-webkit-transition: 300ms opacity ease;
 -moz-transition: 300ms opacity ease;
-ms-transition: 300ms opacity ease;
 -o-transition: 300ms opacity ease;
transition: 300ms opacity ease;

opacity: 1;
}

.paybutton-modal.fade-and-drop {
-webkit-transition: 300ms top ease;
 -moz-transition: 300ms top ease;
-ms-transition: 300ms top ease;
 -o-transition: 300ms top ease;
transition: 300ms top ease;
}

.paybutton-overlay.fade-and-drop {
-webkit-transition: 300ms opacity 300ms ease;
 -moz-transition: 300ms opacity 300ms ease;
-ms-transition: 300ms opacity 300ms ease;
 -o-transition: 300ms opacity 300ms ease;
transition: 300ms opacity 300ms ease;
}
.donate {
	border:1px;
	border-color:#000000;
	width:500px;
	height:400px;
	background-color:#f2f2f2;
	position:fixed;
	margin-left:-250px;
	/* half of width */
	margin-top:-200px;
	/* half of height */
	top:50%;
	left:50%;
}
.donate td {
	border:0px;
	text-align:center;
	padding:10px;
}
